*{
  font-family: 'Poppins', sans-serif;
  }

:root {
  --c-white-2: #FEFEFE;
  --c-grey-0: #8D9091;
  --c-primary-3: #323233;
  --text-bg: #1D264C; 
  --c-primary-0: #025EFE;
  --c-sec: #fff;
  --c-primary-1: #2920DF;
  --c-primary-2: #5080B0;
  --c-success-0: #f1f7fa;
 
  --c-danger-0: #FF3B3B;
  --c-danger-1: #E63535;
  --c-danger-2: #FF5C5C;
  --c-danger-3: #FF8080;
  --c-warning-0: #FFCC00;
  --c-warning-1: #E6B800;
  --c-warning-2: #FDDD48;
  --c-warning-3: #FDED72;
  
  --c-success-1: #05A660;
  --c-success-2: #39D98A;
  --c-success-3: #57EBA1;
  --c-info-0: #0063F7;
  --c-info-1: #004FC4;
  --c-info-2: #5B8DEF;
  --c-info-3: #9DBFF9;
  --c-dark-0: #3A3A3C;
  --c-dark-1: #6B7588;
  --c-dark-2: #8F90A6;
  --c-dark-3: #C7C9D9;
  
  --c-gray-4: #EAE9FC;
  --c-grey-1: #CCCCCC;
  --c-grey-2: #EFEFEF; 
  --cc-grey-3: #FBFBFB;
  --c-bg-color: #F7F7FB;
 
  --scroll: #8F90A680;
  
  --c-text: #040316;
  
}

.Radius {
  border-radius: 10px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
}


