*{
  font-family: 'Poppins', sans-serif;
  }

:root {
  --c-white-2: #FEFEFE;
  --c-grey-0: #8D9091;
  --c-primary-3: #323233;
  --text-bg: #1D264C; 
  --c-primary-0: #025EFE;
  --c-sec: #fff;
  --c-primary-1: #2920DF;
  --c-primary-2: #5080B0;
  --c-success-0: #f1f7fa;
 
  
}

.Radius {
  border-radius: 10px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
}

.seperator {
  position: absolute;
  bottom: 7.4em;
  width: 100%;
  border: 1px dashed var(--c-grey-0);
  display: flex;
  align-items: center;
  .left, .right {
    position: absolute;
    height: 2.65em;
    width: 2.65em;
    border-radius: 50%;
    background-color: var(--c-white-2);
  }
  .left {
    left: -25px;
  }
  .right {
    right: -25px;
  }
}


@media (max-width: 425px) {
  .seperator {
    .left, .right {
      height: 1.95em;
      width: 1.95em;
    }
    .left {
      left: -20px;
    }
    .right {
      right: -20px;
    }
  }
}

@media (max-width: 375px) {
  .seperator {
    .left, .right {
      height: 1.90em;
      width: 1.90em;
    }
    .left {
      left: -18px;
    }
    .right {
      right: -18px;
    }
  }
}

@media (max-width: 320px) {
  .seperator {
    .left, .right {
      height: 1.65em;
      width: 1.65em;
    }
    .left {
      left: -15px;
    }
    .right {
      right: -15px;
    }
  }
}


